﻿@model PagedList.IPagedList<Namirnice2.Models.FileUploadModel>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@*<link rel="stylesheet" href="Stilovi.css"/>*@


@{
    /**/

    ViewBag.Title = "Index";
}



<h2>Index</h2>

<p>
    <a href="/FileUpload/Create">Dodaj novi artikal</a>
</p>


@using (Html.BeginForm("Index", "FileUpload", FormMethod.Get))
{
    <p>
        Find by name: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" />
    </p>
}

<table class="table" >
    <tr>
        <th id="b1">
            Slika Proizvoda
        </th>
        <th id="b2">
            @Html.ActionLink("Naziv", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th id="b3">
            Cena:
        </th>
        <th id="b4">
            Opis:
        </th>
        <th id="b5">
            Zahtevana kolicina:
        </th>
        <th>
            @Html.ActionLink("TrenutnaKolicina", "Index", new { sortOrder = ViewBag.TrenutnaKolicinaSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th id=" b6">
            Razlika:
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            @*<td>
                    @Html.DisplayFor(modelItem => item.fileUploaded)
                </td>*@
            <td>

                <img src="@Url.Content(item.fileUploaded)" with="100" height="100" />

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Naziv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cena)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Opis)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ZahtevanaKolicina)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrenutnaKolicina)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Razlika)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
<br />
<link rel="stylesheet" href="~/Scripts/Stilovi.css" />

Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
